.main-container {
    display: flex;
    justify-content: center;
    height: calc(100vh - 64px);
    position: relative;
}

.main-container>:nth-child(2) {
    overflow-y: auto;
    width: -webkit-fill-available;
    background: #f3f3ff;
}