.Dashboard {
    background: white;
    padding: 0.25rem;
}

.Dashboard button {
    padding: 0.25rem 0.5rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    background: #f9fafb;
    font-size: 0.75rem 12px;
    color: #535353;
}

.formBlock {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
    background: #f9fafb;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.buttonGroup {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0.25rem 0 0 0;
    padding: 0.25rem;
    background: #f9fafb;
    border-radius: 0.5rem 0.5rem 0 0;
}

.searchForm button {
    padding: 0.5rem 0;
    border-radius: 8px;
    background-color: rgb(0 122 138);
    color: #f0fbff;
    border: none;
    font-weight: 400;
    cursor: pointer;
}

.searchForm button:hover {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 1);
    background: #05516f;
    color: #f0fbff;
}

.searchForm input {
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    font-weight: 600;
    border: 1px solid black;
    width: 100%;
}

.nestedRow td {
    background: #e9f5ff;
    padding: 1rem;
}

.nestedTable {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.nestedTable th,
.nestedTable td {
    border: 1px solid #e5e7eb;
    padding: 0.5rem;
    text-align: left;
    font-size: 0.9rem;
    background: #ffffff;
    height: auto;
    font-size: 0.75rem;
    font-weight: 600;
    color: #5d5c5c;
}

.nestedTable th {
    background-color: white;
    font-weight: 500;
    font-size: 0.75rem;
    text-align: center;
    padding: 0.25rem;
    height: auto;
}