.Sidebar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 256px;
    background: white;
    overflow: hidden;
    border-right: 1px solid #F1F3F5;
    padding: 0.25rem;
}

.Sidebar>div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 256px;
    background: white;
}

.navlinks {
    all: unset;
    padding: 0.75rem 1rem;
    background-color: white;
    font-size: 0.875rem;
    font-weight: 400;
    width: calc(100% - 2rem);
    cursor: pointer;
    color: #767575;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.navlinks>svg {
    font-size: 1.25rem;
}

.navlinks:hover {
    background-color: #F1F3F5;
    border-radius: 0.25rem;
}

.activeLink {
    border-radius: 0.25rem;
    background: #F1F3F5;
    color: black;
    font-weight: 500;

}

.Sidebar>div:nth-child(1) {
    height: calc(100% - 27px);
    width: 100%;
}

/* .Sidebar>div:nth-child(2) {
    height: 10%;
} */

.Sidebar button {
    all: unset;
    padding: 0.25rem 1rem;
    background-color: #11386C;
    font-weight: 400;
    font-size: 0.875rem;
    width: calc(100% - 2rem);
    cursor: pointer;
    color: white;
    text-align: center;
    /* height: 10%; */
    border-radius: 0.25rem;
    transition: all 200ms;
    /* border: 1px solid grey; */
    box-shadow: 0px 0px 0px 1px #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.Sidebar button>svg {
    font-size: 1.25rem;
}

.Sidebar button:hover {
    background-color: #cccccc;
}