.Navbar {
    background: #11386C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0.5rem;
    position: relative;
}

.Navbar>img {
    height: 90%;
}

.Navbar>svg {
    /* position: absolute;
    left: 1rem; */
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
}

.Navbar>div>h2 {
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: right;
    width: 100%;
    text-transform: uppercase;
}