.Auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 80%;
    width: 100%;
}

.Auth>form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.Auth>form>div {
    width: 100%;
    gap: 1rem;
    position: relative;
}

.horizontalLine {
    width: 80%;
    border-top: 1px solid rgba(0, 0, 0, 1);
}

.Auth>h3 {
    color: rgba(0, 0, 0, 1);
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.25rem;
    letter-spacing: 0px;
    text-align: left;
    cursor: pointer;
    margin-top: 0.5rem;
}

.Auth>h3>span {
    position: relative !important;
}

.Auth .blueText {
    cursor: pointer;
    color: rgba(9, 133, 180, 1);
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: right;
    position: absolute;
    right: 0;
}

.Auth label {
        color: #767676;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.125rem;
    text-align: left;
}

.password {
    position: relative;
}

.password>svg {
        color: #767676;
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    right: 8px;
    top: 6px;
}

.Auth button {
    padding: 0.5rem 3rem;
    border-radius: 8px;
    background: rgba(9, 133, 180, 1);
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.Auth button:hover {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 1);
    background: rgba(9, 133, 180, 1);
}


@media (max-width: 500px) {
    .Auth .container {
        width: 80dvw;
    }
}