.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.Varient {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 0.8rem;
    background: transparent;
}
