.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white
}

.Inventory {
    background: white;
}

.allItems {
    margin: 2rem;
    background: #001f2b;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.allItems>h3 {
    margin: auto;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.search {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}

.search>input {
    width: 100%;
}

.allItems button {
    padding: 0.5rem 3rem;
    border-radius: 8px;
    color: rgb(0 31 43);
    border: none;
    background-color: #f0fbff;
    font-weight: 600;
    cursor: pointer;
}

.allItems button:hover {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 1);
    background: #05516f;
    color: #f0fbff;
}

.allItems form {
    overflow: hidden;
}

.allItems input,
select {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: rgb(0 31 43);
    border: none;
    background-color: #f0fbff;
    font-weight: 600;
}

.addNew {
    margin: 0.5rem;
    border-radius: 1rem;
    background: #f0fbff;
    display: flex;
    gap: 1rem;
}

.addNew>button {
    padding: 0rem 3rem;
    border-radius: 8px;
    background-color: rgb(0 31 43);
    border: none;
    color: #f0fbff;
    font-weight: 600;
    cursor: pointer;
    margin-left: auto;
    height: 2rem;
    width: 100%;
    overflow: hidden;
}

.addNew>button:hover {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 1);
    color: #05516f;
    background-color: #f0fbff;
}