.Varient {
    margin: 0.25rem;
    background: white;
    padding: 0.25rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Varient>h3 {
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: #f3f3ff;
    font-weight: 500;
    text-align: center;
    color: grey;
    font-size: 1rem;
    margin-bottom: 0;
    width: 100%;
    margin: 0 auto;
}

.Varient>div {
    overflow: hidden;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Varient>div>button {
    width: 100%;
}

.Varient form {
    overflow: hidden;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Varient form>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.SingleVarient {
    background: white;
    color: black;
    border-bottom: 1px solid #80808038;
    padding: 0;
    border-radius: 0;
}

.SingleVarient>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

table {
    /* Styles for the table in Upcoming */
    min-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table th,
table td {
    /* Shared styles for table cells/headers */
    text-align: left;
    border-bottom: 1px solid #eee;
    padding: 2px;
    font-weight: 600;
    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /* ✅ Prevents breaking layout */
    white-space: nowrap;
    /* Overridden later for td: */
    /* padding: 8px 12px; */
    padding: 2px 0;
    border-bottom: 1px solid #eee;
    text-align: center;
}

table td {
    /* Overrides for table data cells */
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    height: 2rem;
    border-bottom: 0;
    font-size: 0.75rem;
    height: 3rem;
}

table td span {
    text-align: center;
}

table th {
    /* Overrides for table headers */
    background-color: white;
    font-weight: 500;
    font-size: 0.75rem;
    width: 33%;
}

table tr {
    /* Styles for table rows */
    border-bottom: 1px solid #80808038;
}

.SingleVarient table td svg {
    font-size: 2rem;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
}