.SearchForm {
    margin: 2rem;
    background: #001f2b;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.SearchForm>div {
    overflow: hidden;
}

.SearchForm {
    background: #001f2b;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    padding: 0.25rem 2rem;
    width: calc(100% - 4rem);
    margin: 2rem;
    overflow: hidden;
    transition: all 0.3s ease;
}

.SearchForm>form {
    width: 100%;
}

.SearchForm h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #f0fbff;
    text-align: center;
}

.SearchForm form>div {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.SearchForm label {
    font-weight: 600;
    color: #f0fbff;
    margin-bottom: 0.2rem;
    font-size: 0.875rem;
}

.SearchForm input,
.SearchForm select {
    padding: 0.5rem 0.75rem;
    border: 1px solid #cbd5e1;
    border-radius: 0.5rem;
    font-size: 0.95rem;
    outline: none;
    background-color: #fff;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

.SearchForm input:focus,
.SearchForm select:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.15);
}

.SearchForm .error {
    color: #ef4444;
    font-size: 0.75rem;
    margin-top: 0.2rem;
    position: absolute;
    bottom: -1rem;
    right: 0;
    font-weight: 700;
}

.SearchForm button {
    padding: 0.5rem 3rem;
    border-radius: 8px;
    color: rgb(0 31 43);
    border: none;
    background-color: #f0fbff;
    font-weight: 600;
    cursor: pointer;
}

.SearchForm button:hover {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 1);
    background: #05516f;
    color: #f0fbff;
}

.SearchForm button[type='button'] {
    background-color: #f1f5f9;
    color: #1e293b;
    margin-left: 0.5rem;
}

.SearchForm button[type='button']:hover {
    background-color: #e2e8f0;
}

.SearchForm div:last-child {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

/* Choices */
.choices {
    overflow: scroll;
    margin: 2rem;
    background: #001f2b;
    padding: 0 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 8px 4px 0px black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

.allChoices {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 0.5rem;
    box-shadow: inset 0px 0px 4px 2px black;
}

.allChoices>h2 {
    color: #f0fbff;
    font-weight: 700;
    margin: auto;
    background-color: #001f2b;
    width: 100%;
    text-align: center;
    border-radius: 0.25rem 0.25rem 0 0;
    font-size: 0.875rem;
    padding: 0.25rem;
    text-transform: uppercase;
}

.groupItem {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    gap: 0.25rem;
    box-shadow: 0px 2px 4px 2px #000000;
    padding: 0.25rem;
    background: #001f2b;
    border-radius: 0.25rem 4px;
}

.singleItem {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    padding: 0.25rem;
    border-radius: 0.25rem;
    background-color: #065675;
    color: #f0fbff;
    cursor: pointer;
    box-shadow: 0px 0px 4px 4px black;
}

.singleItem .selected {
    box-shadow: inset 0px 0px 4px 2px #f0fbff;
}

.confirmationButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
}

.confirmationButton button {
    padding: 0.5rem 3rem;
    border-radius: 8px;
    color: rgb(0 31 43);
    border: none;
    background-color: #f0fbff;
    font-weight: 600;
    cursor: pointer;
}

.confirmationButton button:hover {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 1);
    background: #05516f;
    color: #f0fbff;
}

/* View All */
.viewAll {
    margin: 0.5rem;
    padding: 0.25rem;
    background: white;
    border-radius: 0.5rem;
    /* box-shadow: 0px 0px 0px 1px #808080; */
    border: 1px solid #F1F3F5;
}

.viewAll>h2 {
    text-align: center;
    font-weight: 800;
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem 16px;
}

.viewOptions {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    background: #f3f3ff;
    border-radius: 0.5rem;
}

.viewOptions .selected {
    background-color: white;
    color: #001f2b;
    /* border-radius: 0.5rem 0.5rem 0 0; */
}

.viewOptions button {
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    color: rgb(240 251 255);
    border: none;
    background-color: #001f2b;
    font-weight: 600;
    cursor: pointer;
    width: 33%;
    text-align: center;
}

.viewOptions button:hover {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 1);
    background: #05516f;
    color: #f0fbff;
}

.allItems {
    background-color: #f0fbff;
    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.allItems button {
    padding: 0.5rem 3rem;
    border-radius: 8px;
    color: rgb(0 31 43);
    border: none;
    background-color: #f0fbff;
    font-weight: 600;
    cursor: pointer;
}

.allItems button:hover {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 1);
    background: #05516f;
    color: #f0fbff;
}

.items {
    background-color: #001f2b;
    width: 100%;
    padding: 0.5rem;
    color: #f0fbff;
    border-radius: 0.5rem;
    cursor: pointer;
}

.items h2 {
    font-size: 1em;
    margin-bottom: 0.25rem;
}

.items input {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: rgb(0 31 43);
    border: none;
    background-color: #f0fbff;
    font-weight: 600;
    width: 100%;
    margin-bottom: 1rem;
}

.items .inputField {
    position: relative
}

.items .inputField span {
    position: absolute;
    bottom: 0.25rem;
    font-size: 0.75rem;
    color: #f3adad;
    font-weight: 700;
    overflow: hidden;
}

.items>div {
    background-color: rgb(41, 74, 87);
    padding: 0 0.5rem;
    box-shadow: black 0px 4px 10px -1px inset;
    border-radius: 0px 0px 0.5rem 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.25rem;
}

.items>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px #f0fbff75 solid;
    padding: 5px;
}

.notFound {
    background-color: #f0fbff;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #001f2b;
}

.wagons {
    overflow-x: auto;
    justify-content: flex-start !important;
    gap: 1rem;
}

.singleWagon {
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #001f2b;
    box-shadow: inset 0px 0px 4px 4px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.singleWagon>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.selectedOptions {
    display: flex;
    background: #065675;
    padding: 0.25rem;
    border-radius: 0.25rem;
    justify-content: space-between;
    align-items: center;
    color: #f0fbff;
    flex-wrap: wrap;
}

.selectedOptions>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.controlsRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.controlsRow>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    font-size: 0.875rem;
    font-weight: 900;
}

.controlsRow button {
    padding: 0.5rem 3rem;
    border-radius: 8px;
    color: rgb(0 31 43);
    border: none;
    background-color: #f0fbff;
    font-weight: 600;
    cursor: pointer;
}

.controlsRow button:hover {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 1);
    background: #05516f;
    color: #f0fbff;
}


/* Items */
.staffContainer {
    margin: 0.5rem;
    padding: 0.25rem;
    background: white;
    border-radius: 0.5rem;
    /* box-shadow: 0px 0px 0px 1px #808080; */
    border: 1px solid #F1F3F5;
}

.staffContainer h3 {
    background-color: #f3f3ff;
    font-weight: 500;
    color: grey;
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 0.25rem;
    text-align: start;
    margin-bottom: 0.5rem;
}

.heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.searchForm button {
    padding: 0.5rem 3rem;
    border-radius: 8px;
    color: rgb(0 31 43);
    border: none;
    background-color: #f0fbff;
    font-weight: 600;
    cursor: pointer;
}

.searchForm button:hover {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 1);
    background: #05516f;
    color: #f0fbff;
}

.searchForm input {
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
    font-weight: 600;
    border: none;
    width: 100%;
}

.card {
    background: #fff;
    border-radius: 0 0 1rem 1rem;
    padding: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-height: 500px;
    overflow: auto;
}

.test {
    background: #f0fbff;
    padding: 0rem;
}

.loading,
.empty {
    text-align: center;
    padding: 30px;
    color: #666;
    font-size: 1rem;
}

.loader {
    text-align: center;
    margin-top: 50px;
    font-size: 1.2rem;
}

.tableWrapper {
    overflow: auto;
    height: 100%;
    /* border-radius: 1rem; */
    /* overflow-x: auto; */
}

.table {
    min-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.table th,
.table td {
    text-align: left;
    border-bottom: 1px solid #eee;
    padding: 2px;
    font-weight: 600;
    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /* ✅ Prevents breaking layout */
    white-space: nowrap;
}

.table td {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    height: 2rem;
    border-bottom: 0;
    font-size: 0.75rem;
    height: 3rem;
}

.table td svg {
    font-size: 1rem;
}

.table th {
    background-color: white;
    font-weight: 500;
    font-size: 0.75rem;
    text-align: center;
    padding: 0.5rem;
}

.table tr:hover {
    background-color: #f9fafc;
    cursor: pointer;
}

.activeRow {
    background-color: #e9f5ff;
}

.controlsRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.controlsRow>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    font-size: 0.875rem;
    font-weight: 900;
}

.controlsRow button {
    padding: 0.5rem 3rem;
    border-radius: 8px;
    color: rgb(0 31 43);
    border: none;
    background-color: #f0fbff;
    font-weight: 600;
    cursor: pointer;
}

.controlsRow button:hover {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 1);
    background: #05516f;
    color: #f0fbff;
}

.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.activeRow {
    background-color: #e9f5ff;
}

.formBlock {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
    background: #f9fafb;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    font-family: "Inter", sans-serif;
}

.formBlock label {
    display: block;
    font-size: 0.75rem;
    color: #374151;
    font-weight: 500;
    /* display: block;
    font-size: 0.9rem;
    color: #374151;
    font-weight: 500;
    margin-bottom: 0.3rem; */
}

.formBlock input,
.formBlock select {
    width: 100%;
    padding: 0.25rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    background: #fff;
    font-size: 0.75rem;
    transition: border-color 0.2s ease;
    font-weight: 400;
    /* width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    background: #fff;
    font-size: 0.9rem;
    transition: border-color 0.2s ease; */
}

.formBlock input:focus,
.formBlock select:focus {
    border-color: #2563eb;
    outline: none;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
}

.coloredShipTo {
    border-radius: 0.25rem;
    width: fit-content;
    padding: 0.15rem 0.25rem;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.15;
    padding-top: 0.3rem;
}

.error {
    color: #dc2626;
    font-size: 0.75rem;
    margin-top: 0.25rem;
}

.twoInOne {
    display: flex;
    gap: 1rem;
}

.twoInOne>div {
    flex: 1;
}

.buttonGroup {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0.8rem;
}

.buttonGroup button {
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}

.buttonGroup button {
    padding: 0.25rem 0.5rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    background: #f9fafb;
    font-size: 0.75rem 12px;
    color: #535353;
}

.buttonGroup button:hover {
    background-color: #f0fbff;
    color: rgb(0 31 43);
}

.confirmationButton {
    padding-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.confirmationButton>button {
    padding: 0.5rem 3rem;
    border-radius: 8px;
    color: rgb(0 31 43);
    background-color: #f0fbff;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.confirmationButton button:hover {
    color: #f0fbff;
    background-color: rgb(0 31 43);
}

/* Responsive tweak for smaller screens */
@media (max-width: 600px) {
    .formBlock {
        grid-template-columns: 1fr;
    }

    .buttonGroup {
        justify-content: center;
    }
}

/* ViewIncomplete Booking */
.ViewIncompleteBooking {
    margin: 0.5rem;
    padding: 0.25rem;
    background: white;
    border-radius: 0.5rem;
    /* box-shadow: 0px 0px 0px 1px #808080; */
    border: 1px solid #F1F3F5;
}

.ViewIncompleteBooking>h3 {
    background-color: #f3f3ff;
    font-weight: 500;
    color: grey;
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 0.25rem;
    text-align: start;
    margin-bottom: 0.5rem;
}