.Account {
    background: rgba(240, 251, 255, 1);
}

.Account>h2 {
    color: #11386C;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 2rem;
    margin-top: 2rem;
}

.Account form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
}

.Account form>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
}

.Account form label {
    color: rgba(102, 97, 97, 1);
    font-size: 0.75rem;
    font-weight: 600;
}

.Account form input {
    width: 80%;
    border-radius: 0px 24px 24px 0px;
    background: rgba(196, 196, 196, 1);
    font-weight: 500;
    font-size: 0.875rem;
}

.Account form span {
    color: red;
    font-weight: 900;
    font-size: 0.75rem;
}

.Account button {
    padding: 0.5rem 3rem;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    background: #11386C;
}

.Account button:hover {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 1);
    background: #05516f;
}

.Account form>div:nth-last-child(1) {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
}